article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  padding: 0;
  margin: 0; }

body {
  font-size: 125%; }

input {
  border: none; }

h2, h3, li {
  font-family: 'EB Garamond', serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: italic;
  color: #666666;
  word-spacing: 2px; }

h3 {
  font-size: .8rem; }

ul {
  list-style: none; }

.disp-none {
  display: none; }

.disp-none {
  display: block; }

.super-container {
  width: 70%;
  max-width: 700px;
  height: 100vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.app-container {
  margin: 2 auto;
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background: white;
  -webkit-box-shadow: 2px 5px 20px gray;
  box-shadow: 2px 5px 20px gray; }

.app-container:hover .search-bar {
  width: 50%; }

.con {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  z-index: 100; }

.con-class {
  width: 50%; }

.search-container {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.search-bar {
  height: 40px;
  width: 0%;
  font-family: 'EB Garamond', serif;
  font-size: 1.1rem;
  font-weight: 400;
  color: black;
  font-style: italic;
  text-align: center;
  letter-spacing: 1px;
  border-radius: 25px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  opacity: .7;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

.search-bottom {
  bottom: 40px; }

.search-bar::-webkit-input-placeholder {
  text-align: center;
  margin: 0 auto; }

.search-bar:-ms-input-placeholder {
  text-align: center;
  margin: 0 auto; }

.search-bar::-ms-input-placeholder {
  text-align: center;
  margin: 0 auto; }

.search-bar::placeholder {
  text-align: center;
  margin: 0 auto; }

.painting-container {
  height: 100%;
  width: 100%; }

.painting-container-width {
  width: 50%; }

.painting {
  height: 450px;
  width: 100%;
  border-radius: 20px 20px 20px 20px;
  background: url(../assets/images/painting-1.jpg);
  background-size: cover;
  background-position: center;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.painting-left {
  width: 50%;
  border-radius: 20px 0 0 20px; }

.new-image {
  width: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  border: 1px solid red;
  border-radius: 20px; }

.temp-bg {
  width: 50%;
  height: 155px;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  position: absolute;
  display: none; }

.disp-temp {
  text-align: center;
  width: 100%;
  z-index: 20; }

.temp {
  font-family: helvetica;
  font-size: 5.5rem;
  font-weight: 600;
  color: white;
  position: relative;
  display: none; }

h1::after {
  content: '';
  width: 8px;
  height: 8px;
  border: 5px solid white;
  border-radius: 50%;
  position: absolute; }

.info-container {
  height: 450px;
  width: 50%;
  border-radius: 0 20px 20px 0;
  background: white;
  -webkit-box-shadow: 2px 5px 20px #e6e6e6;
  box-shadow: 2px 5px 20px #e6e6e6;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 40;
  display: none; }

.info {
  height: 100%;
  width: 100%;
  border-radius: 0 20px 20px 0;
  background: white;
  -webkit-box-shadow: 2px 5px 20px #e6e6e6;
  box-shadow: 2px 5px 20px #e6e6e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  z-index: 45; }

.info-painting,
.info-weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.info-painting {
  text-align: center;
  height: 44px;
  width: 80%; }

.info-weather {
  height: 85px;
  display: none; }
  .info-weather li {
    font-size: .85rem; }

button {
  height: 30px;
  width: 30px;
  border: none;
  border-radius: 50%;
  position: absolute;
  bottom: 2%;
  right: 2%;
  z-index: 30;
  background: #f8f8f8;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }
  button .music {
    height: 10px;
    width: 10px;
    margin: 0 auto;
    background: #9a9a9a;
    border-radius: 50%;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease; }

button:hover .music {
  background: #e6e6e6; }

.playlist li a {
  display: none; }

.audio-container {
  display: table;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0 auto;
  border: 1px solid red;
  background: white;
  visibility: hidden; }

.audio-player {
  display: table;
  margin: 0 auto; }

@media (max-width: 600px) {
  .app-container {
    border-radius: 20px;
    height: 550px; }
  .painting {
    width: 100%;
    height: 550px;
    border-radius: 20px;
    -webkit-box-shadow: 2px 5px 20px grey;
    box-shadow: 2px 5px 20px grey;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
  .info {
    display: none; }
  button {
    display: none; }
  .info-container {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .con {
    width: 100%; } }

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
